* {
    margin: 0;
    padding: 0;
}
html {
	height: 100%;
	background-image: url("../images/background.jpeg");
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#mainContent {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #00bbff;
	background-color: rgba(0,0,0,.8);
    width: 98%;
	max-width: 1600px;
	margin: 0px auto 0px auto;
	border: 3px solid orange;
}

h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    padding: .25em;
}
h3 {
    font-family: "Lucida Console", "Courier New", monospace;
    padding-left: .6em;
    padding-bottom: 1em;
    border-bottom: 3px solid orange;
}

main section {
    width: 75%;
    text-align: center;
    padding: 1em;
}
main section article {
    text-align: left;
    padding-top: .5em;
    margin-left: .5em;
}

main section p {
    padding-bottom: .25em;
}
main section a {
    color: white;
    text-decoration: none;
}
main section li {
    padding-bottom: .25em;
}

.nav_menu {
	width: 100%;
}
.nav_menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.nav_menu ul li {
	width: 25%;
	float: left;
}
.nav_menu li a {
	display: block;
	width: 100%;
	text-align: center;
	padding-top: .25em;
	padding-bottom: .25em;
    margin-bottom: .5em;
	text-decoration: none;
    font-family: "Monaco", "Courier New", monospace;
	color: white;
	font-weight: bold;
    border-bottom: 3px solid orange;
	background-color: rgba(0,0,0,.5);
}
.nav_menu ul li a:hover {
	background-color: rgba(54, 54, 54, .5);
}

.current {
    color: orange;
}

@media only screen and (max-width: 959px) {
    header {
        text-align: center;
    }
	h1 {
		font-size: 125%;
	}
	h2 {
		font-size: 120%;
	}
	h3 {
		font-size: 120%;
        padding: 0;
	}
	p {
		font-size: 80%;
	}
    .nav_menu li {
        font-size: 80%;
    }
}

@media only screen and (max-width: 767px) {
	header {
		text-align: center;
	}
}

@media only screen and (max-width: 479px) {
	body {
		font-size: 90%;
	}
}