* {
    margin: 0;
    padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: gray;
}

h1 {
    font-family: "Lucida Console", "Courier New", monospace;
}
h3 {
    font-family: "Lucida Console", "Courier New", monospace;
}