* {
    margin: 0;
    padding: 0;
}
html {
	height: 100%;
	background-image: url("../images/background.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#mainContent {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #00bbff;
    background-color: rgba(0,0,0,.8);
    width: 98%;
	max-width: 1600px;
	margin: 0px auto 0px auto;
	border: 6px double #006c94;
	border-radius: 10px;
}

h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    padding: .25em;
}
h3 {
    font-family: "Lucida Console", "Courier New", monospace;
    padding-left: 1em;
    padding-bottom: 1em;
    border-bottom: 3px solid #006c94;
}
article {
    text-align: left;
    padding: .5em;
}
article h2 {
    text-align: center;
}
article img {
    max-width: 100%;
    border: 2px solid #006c94;
}
.row {
    display: flex;
}
.column {
    flex: 50%;
    padding: 5px;
}
.nav_menu {
	width: 100%;
}
.nav_menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.nav_menu ul li {
	width: 25%;
}
.nav_menu li {
	float: left;
}
.nav_menu li a {
	display: block;
	width: 100%;
	text-align: center;
	padding-top: .25em;
	padding-bottom: .25em;
    margin-bottom: .5em;
	text-decoration: none;
    font-family: "Monaco", "Courier New", monospace;
	color: white;
	font-weight: bold;
    border-bottom: 3px solid #006c94;
	background-color: rgba(0,0,0,.5);
}
.nav_menu ul li a:hover {
	background-color: rgba(54, 54, 54, .5);
}


.current {
    color: limegreen;
}

/* Mobile Compatibility */

@media only screen and (max-width: 959px) {
    header {
        text-align: center;
    }
	h1 {
		font-size: 125%;
	}
	h2 {
		font-size: 120%;
	}
	h3 {
		font-size: 120%;
        padding: 0;
	}
	p {
		font-size: 80%;
	}
    .nav_menu li {
        font-size: 80%;
    }
}

@media only screen and (max-width: 767px) {
	header {
		text-align: center;
	}
}

@media only screen and (max-width: 479px) {
	body {
		font-size: 90%;
	}
}